html {
	background: url(sahil-bajaj-gray-bg.jpg) #fff no-repeat center right fixed;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	color: #333;
	font-family: 'PT Sans Caption', pt-sans-caption, 'Museo Sans', sans-serif;
	font-size: 1.2em;
	height: 100%;
	overflow: hidden;
}

body {
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

	height: 95%;
	margin-left: 6em;
	min-height: 400px;
	width: 24em;
}

h1 {
	color: #ccc;
	font-size: 2.5em;
	font-weight: normal;
	letter-spacing: -1px;
}

p {
	line-height: 1.6;
}

a:link, a:visited {
	background-color: #f9f9f9;
	border-bottom: 1px solid #eee;
	color: #999;
	padding: 0.2em;
	text-decoration: none;
}

a:hover {
	border-bottom-color: #ccc;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav li {
	display: inline-block;
	padding: 0.5em 0;
}

nav li::after {
	color: #eee;
	content: ' /';
}

nav li:last-child::after {
	display: none;
}

.hidden {
	display: none;
}

.photo-credits {
	font-size: 0.5em;
	bottom: 0;
	position: fixed;
	right: 1em;
	text-transform: uppercase;
}
